:root {
    --primary-color: #1E88E5;
    --primary-color-light: #42A5F5;
    --primary-color-dark: #1565C0;
    --secondary-color: #FFFFFF;
    --text-color: #000000;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("http://s1.bwallpapers.com/thumbs2/2014/05/09/blue-desktop-backgrounds_035130873.jpg");
}

nav {
    margin-bottom: 30px;
    background: var(--primary-color);
    opacity: 0.90;
    z-index: 100;
}

.nav-link {
    color:var(--text-color);
}

.navbar-brand {
    color:var(--text-color);
}

.basic-button {
    background: var(--primary-color);
    color: #FFF;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    transition: .5s ease;
    width: 20%;
}

.navbar-nav {
    height: 30px;
}

.card-car {
    height: 100%;
    margin-top: 10px;
    z-index: 1;
}

.card-profile {
    height: 700px;
    margin-top: 10px;
    z-index: 1;
}

/***************Home styling**************/

.card {
    margin-top: 10px;
    z-index: 1;
}
.card-img-top {
    height: 215px;
    width: 100%;
}

/***************Profile style*************/

.edit-input {
    width: 200px;
    height: auto;
    margin: 8px 0;
}
input[type=text], input[type=email], input[type=password], textarea, select {
    padding: 10px 20px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    width: 100%;
    margin: 5px 0;
}

.table-profile {
    width: 100%;
}

/***************Contact style*************/

.card-contact {
    height: 500px;
}

